
/* li donem estil a la pagina */
* {
    --bg-color: white;
    --glass-color: rgb(0, 0, 0,.87);
    --searchbar-height: 2.5rem;
    --hover-color: #ffffff;
}

/* donem estil a les lletres i la posicio del body */
body {
    background: var(--bg-color);
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* donem estil als links */
.links {
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
}

.links:hover {
    text-decoration: underline;
}

.light-links {
    opacity: 0.7;
}

.white-links {
    opacity: 1;
}

/* organitzem els contenidors*/
.icon-container img {
    height: 1.5em;
    display: flex;
}

.first-container {
    gap: 0.5rem;
}

.second-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;  
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* ajustem la barra del buscador */
.searchbar-container {
    border: 1px solid var(--glass-color);
    height: var(--searchbar-height);
    width: 90%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: var(--searchbar-height);
}

.searchbar-container img {
    height: 1.5rem;
    padding: 0 0.5rem;
}

.searchbar-container input {
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    font-family: poppins, monospace;
    height: 24px;
    width: 924px;
    vertical-align: middle;
}

.searchbar-container:hover {
    background-color: var(--hover-color);
    border: 1px solid transparent;
}

/* espai i estils dels botons*/
.buttons-container {
    display: flex;
    gap: 1rem;
}

.buttons-container input {
    height: var(--searchbar-height);
    background-color:#f8f9fa;
    font-family: poppins, monospace;
    padding: 0 1rem;
    border-radius: 0.2rem;
    font-weight: 300;
    border: 1px solid transparent;
}

.buttons-container input:hover {
    border: 1px solid var(--glass-color);
}

.Idiomas-boton{
    color: #4d5156;
    display: inline-block;
    line-height: 28px;
    font-size: relative-size;
    text-align: center;
    font-family: arial,sans-serif;
    text-decoration: none;
}

/* volem que els links no estiguin subrayats,nomes quan ens posem a sobre*/
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
}

/* donem forma al nostre footer */
footer {
    background-color: #f2f2f2;
}

.first-footer {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

footer a {
    color: black;
    text-decoration: none;
    opacity: 0.6;
    font-weight: 300;
    font-size: 0.8rem;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links div:not(:nth-of-type(2)) a {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: black;
}

footer img {
    height: 0.7rem;
}

.footer-links {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
}

form {
    display: none;
}

/* ajustem la medida del container i el footer */

@media (max-width: 579px) {
    .second-links-container {
        order: -1;
    }
}

@media (min-width: 824px) {
    .footer-links {
        justify-content: space-between;
        padding: 1rem 2rem;
    }
}

